img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

form {
    display: block;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a:hover {
    text-decoration: underline;
}

#content {
    clear: both;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-30%, -50%);
}

.alignright {
    float: right;
    padding-right: 35px;
    padding-top: 20px;
}

.alignleft {
    float: left;
    padding-left: -20px;
    padding-top: 20px;
}

.alignright2 {
    float: right;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.alignleft2 {
    float: left;
    padding-left: -20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

header a {
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.75;
}

footer a {
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.75;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.button {
    border: 1px solid #f2f2f2;
    padding: 0 16px;
    margin: 11px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

#searchbox {
    border-radius: 24px;
    width: 582px;
    box-shadow: none;
    background: #fff;
    border: 1px solid #dfe1e5;
    height: 44px;
    margin: 0 auto;
    z-index: 3;
    display: flex;
}

#searchbox:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

#appsspan {
    position: relative;
    vertical-align: middle;
    align-items: baseline;
    background-position: -132px -38px;
    opacity: .75;
}

#applink:hover {
    opacity: 1;
}

#apps {
    width: 25px;
    display: inline-block;
    padding: 0;
    margin: 0;

}

.magnifyingglass {
    width: 15px;
    opacity: 0.45;
    align-self: center;
    height: auto;
    margin-left: -5px;
    margin-bottom: -50px;
}

#signin {
    background-color: #4683ea;
    color: white;
    font-weight: bold;
    padding: 0 12px;
    display: inline-block;
    line-height: 28px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-size: 13px;
    font-family: arial, sans-serif;
    margin-left: 15px;
}